/*本页是"wolf_vs_man"项目的共用属性及常用属性值样式表*/
* {
    box-sizing: border-box;
}
html {
    font-size: 100px;
}

/*标签类别：body, header, footer, button*/
body {
    margin: 0;
    border: 0;

    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑",serif;
    font-size: 0.28rem;
    line-height: 1.5;

    color: #24292e;
}

header,
footer {
    border-radius: 0.08rem;
    padding: 0.30rem;

    text-align: center;

    color: #fff;
    background-color: #428bca;
}

main {
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;

    width: 100%;

    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 730px){
    footer {width: 7.3rem}
}

button {
    border-width: 0;

    font-size: 0.24rem;

    color: #fff;
    background-color: #428bca;

    cursor: pointer;
}

button:hover {
    background-color: #6534ff;
}

img {
    max-width: 100%;
}

/*自定义类别：wrap, f-btn*/
.wrap {
    overflow: hidden;

    margin: 0 auto;

    box-shadow: 0 0 0.05rem rgba(202,203,203,0.5);
}

@media screen and (min-width: 730px){
    .wrap {
        width: 7.3rem;
        margin: 0.24rem auto;
        padding: 0 0.25rem;
    }
}

.f-btn {
    border-radius: 0.08rem;
    padding: 0.20rem 0.30rem;
}

/*定制属性值类*/
.center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top1 {
    margin-top: 0.24rem;
}

.padding-top1 {
    padding-top: 0.25rem;
}

.padding-left1 {
    padding-left: 0.25rem;
}

.pointer {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 0 0.25rem rgba(203, 203, 203, 0.5);

    cursor: pointer;
}

.shadow:hover {
    box-shadow: 0.15rem 0.15rem 0.25rem rgba(203, 203, 203, 0.5);;
}