.fonts {
    color: #fff;
}

main{
    position:relative;
    left:2%;

    padding:0.2rem 0;
    width: 96%;
}

.which-day {
    margin: 0.2rem 0 0.30rem 0.50rem;
    padding: 0.2rem 0;

    font-size: 0.30rem;
    text-align: center;
    letter-spacing: 0.06rem;

    color: #428bca;
}

.content {
    position: relative;

    margin-left: 0.50rem;
    border-left: 0.02rem solid #c9c9c9;
    padding: 0.60rem;
}

.night,
.sun{
    position: absolute;
    top:0.60rem;
    left: -0.32rem;
}

.sun{
    top:3.00rem;
}

.content-step-part {
    position: relative;

    margin-bottom: 0.40rem;
    border-radius: 0.08rem;
    width: 100%;
    height:0.60rem;

    line-height: 0.60rem;
    text-align: center;

    background-color: #428bca;

    box-shadow: 0 0 0.25rem rgba(66, 139, 202, 0.5);

    cursor: pointer;
}

.triangle-left {
    position: absolute;
    top: 0.18rem;
    left: -0.24rem;

    border:0.12rem solid;
    border-color: transparent #428bca    transparent transparent;
}