.fonts {
    color: #fff;
    font-size: 0.28rem;
}

main{
    flex-direction: column;

    border-top:0.02rem solid #f7f7f7;
    border-bottom:0.02rem solid #f7f7f7;
    padding:0.30rem;
}

.text{
    margin: 0.20rem 0;

    letter-spacing: 0.04rem;

    color: #b56969;
}

.footer{
    flex-direction: column;

    padding: 0.20rem 0;
}

.speak{
    border-radius: 0.08rem;
    padding: 0.30rem 0;
    width: 60%;

    text-align: center;

    background-color: #428bca;

    box-shadow: 0 0 0.25rem rgba(66, 139, 202, 0.5);

    cursor: pointer;
}

.fa-arrow-down {
    margin: 0.20rem 0;
    font-size: 0.60rem;
    color: #428bca;
}
