.card-top {
    margin: 20px 0;
    height: 75px;

    font-size: 28px;
    line-height: 75px;
    text-align: center;
}

.card-content {
    position: relative;

    border-radius: 10px;
    height: 299px;

    background-color: #ba9077;
}

.card-content:hover {
    background-color: #dbe9d8;
}

.start {
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: transparent;
}

.start:hover {
    color: #000;
    background-color: transparent;
}



