.card-top {
    margin: 0.20rem 0;
    height: 0.75rem;

    font-size: 0.28rem;
    line-height: 0.75rem;
    text-align: center;
}

@media screen and (max-width: 730px){
    .card-top {
        margin: 0;
    }
}

.card-content {
    position: relative;

    border-radius: 0.10rem;
    height: 2.99rem;

    background-color: #ba9077;
}

.card-content:hover {
    background-color: #dbe9d8;
}

.start {
    position: absolute;
    bottom: 0.20rem;
    right: 0.20rem;

    background-color: transparent;
}

.start:hover {
    color: #000;
    background-color: transparent;
}

.f-btn {
    padding: 0;
}


