body{
    color:white;
    font-size:20px;
    background-color: #29bde0;
}
header{
    height: 40px;
    text-align: center;
    line-height:40px;
}
.box{
    width:30vw;
    height:40vw;
    margin: 1vw;
    float:left;
}

.anniu{
    width:30vw;
    height: 30vw;
    margin:1vw 0;
    background-color: white;
}

.span1{
    width:28vw;
    height:22vw;
    color:black;
    background-color: #f5c97b;
    margin:1vw 1vw 0 1vw;
    text-align: center;
    line-height:22vw;
    display: inline-block;
}

.span2{
    width:28vw;
    height:6vw;
    display: inline-block;
    background-color: #83b09a;
    margin:0 1vw 1vw 1vw;
    text-align: center;
    line-height:6vw;
}
.choose{
    width:6vw;
    height:6vw;
    margin:1vw 12vw ;
    border-width: 0;
    background-color: #fff;
}

footer{
    z-index: 100;
    width: 100%;
    height: 60px;
    position:fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbutton{
    color:white;
    width: 40%;
    background-color: orange;
    font-weight: bold;
    font-size: 30px;
    border-width: 0;
}