.info-board {
    overflow: hidden;

    padding-top: 0.30rem;
}

.wolf,
.human {
    float: left;

    width: 50%;

    text-align: center;
}

.wolf-num,
.human-num {
    font-size: 0.38rem;
    padding-left: 0.30rem;
}

.search-box {
    margin: 0.24rem 0 0.80rem 0;
    padding: 0.80rem 0.20rem;
}

.number,
.go-now {
    float: left;

    margin-top: 0.40rem;
    height: 0.45rem;
}

.number {
    border-width: 0;
    border-top-left-radius: 0.10rem;
    border-bottom-left-radius: 0.10rem;
    width: 75%;

    font-size: 0.24rem;
    text-align: center;

    color: #fff;
    background-color: #c7ad88;

    outline: none;
}

.go-now {
    border-top-right-radius: 0.10rem;
    border-bottom-right-radius: 0.10rem;
    width: 25%;
}

.deal {
    margin: 0.40rem 0;
    width: 100%;
}


