.fonts {
    font-size: 28px;
    color: #1a1a1a;
}

main {
    padding:40px 20px;
    min-height: 650px;

    font-size: 24px;

    color: #b56969;
}

.champion-img {
    margin:20px auto;
    width: 220px;
    height: 160px;

    font-size: smaller;
    letter-spacing: 4px;
    line-height: 206px;
    text-align: center;

    color: #fff;
    background: url("../image/result-img.png") no-repeat;
    background-size:100%;
}

.shadow {
    margin: 30px 0;
    padding: 30px 15px 30px 25px;
}

.days {
    margin: 10px 0;
}

.process {
    font-size: 18px;
    letter-spacing: 3px;
}

.f-btn {
    width: 156px;
    margin: 0 25px;
}

