.fonts {
    font-size: 0.28rem;
}

main {
    overflow: hidden;
    min-height: 6.50rem;
}

.identity {
    float: left;
    flex-direction: column;

    margin: 0.50rem 2.6%;
    padding-top: 0.20rem;
    width: 28%;
    height: 2.48rem;
}

.player {
    font-size: 0.25rem;
    margin-top: 0.25rem;
}

