.fonts {
    color: #fff;
    font-size: 0.20rem;
}

@keyframes fade-in {
    from {
        left: 0;
        transform: translate(-100%, -50%);
    }
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes opacity {
    from {opacity: 0;}
    to   {opacity: 1;}
}

header {
    position: relative;

    font-size: 0.28rem;
}

.tip {
    position: relative;

    border-radius: 0.10rem;
    width: 100%;
    height: 0.75rem;

    line-height: 0.75rem;

    background-color: #428bca;
}

.skip {
    position: absolute;
    right: 0.10rem;
    top: 50%;

    border-radius: 0.08rem;
    padding: 0.10rem 0.20rem;

    color: #996BC8;
    background-color: #fff;

    transform: translate(0, -50%);
}

@media screen and (max-width: 412px){
    .skip {
        padding: 0.1rem;
        font-size: 0.2rem;
    }
}

.skip:hover {
    background-color: #bfb08d;
    color: #fff;
}

.triangle {
    position: relative;
    left: 0.20rem;
    top: -0.71rem;

    border: 0.24rem solid transparent;
    border-bottom-color: #428bca;
    width: 0.24rem;
    height: 0.24rem;
}

.game-card {
    position: relative;

    width: 100%;
    height: 4.50rem;

    color: #996BC8;

    box-shadow: 0 0 0.30rem rgba(202,203,203,0.5);
}

.img-responsive {
    position: absolute;
    top: 50%;

    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
    -webkit-animation: fade-in 1s;
    -o-animation: fade-in 1s;
    animation: fade-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    cursor: pointer;
}

.img-responsive:hover {
    width: 2.10rem;
}

.card-msg {
    position: absolute;
    left: 50%;
    bottom: 0.15rem;

    width: 80%;

    text-align: center;

    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: opacity 2s;
    -o-animation: opacity 2s;
    animation: opacity 2s;
}

.emphasis {
    font-size: larger;
    font-weight: bolder;
}

#playerNum {
    padding-right: 0.05rem;

    font-size: 0.28rem;
}

.check {
    width: 100%;
    padding: 0.30rem;
}